.pt-ticket-section {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 12px;
}

.pt-ticket-line {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2px;
}

.pt-footer {
    margin-top: 10px;
    font-size: 11px;
}

.pt-footer .text-center {
    text-align: center;
}